body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.one, .two {
    color: #000;
}
.principal-image {
    width: 299.99px;
    height: 299.99px;
}
.chikapu {
    width: 299.99px;
    height: 299.99px;
}
.anonymus {
    width: 299.99px;
    height: 299.99px;
}
.javascript {
    width: 299.99px;
    height: 299.99px;
}
.title {
    text-align: center;
}
.aleatory-text {
    text-align: justify;
}

/* .notebook {
    background-color: rgb(194, 28, 28);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: inline-block;
} */
